.task > div
{
  display: list-item;
  list-style: upper-latin;
  margin-left: 40px;
}

.task > div + div
{
  margin-top: 10px;
}

.block
{
  display: block;
}

.inline
{
  display: inline;
}

.inline-block
{
  display: inline-block;
}