.about
{
  padding: 35px 0;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png);

  .section
  {
    &__content
    {
      text-align: center;

      @media screen and (min-width: $bp-laptop)
      {
        text-align: left;
      }
    }

    &__footer
    {
      padding-top: 15px;
      text-align: center;
    }
  }
}