*
{
  box-sizing: border-box;
}

div:not(.task)
{
  border: 2px solid black;
}

.flex-wrapper
{
  display: flex;
  height: 300px;
  align-items: center;
}

.flex-wrapper div
{
  padding: 7px;
  flex-basis: 20%;
}

.flex-wrapper div:nth-child(1)
{
  align-self: flex-end;
}

.flex-wrapper div:nth-child(3)
{
  align-self: flex-start;
}

.flex-wrapper div:nth-child(4)
{
  order: 5;
  align-self: flex-end;
}

