.width-20prs
{
  width: 20%;
}

.background-green
{
  background-color: green;
}

.background-red
{
  background-color: red;
}

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

.margin-left-20prs
{
  margin-left: 20%;
}

.margin-right-20prs
{
  margin-right: 20%;
}