.millionaire
{
  max-width: 1280px;
  width: 100%;
  margin: auto;
  height: 100%;

  &__game-wrapper
  {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
  }

  &__left-field
  {
    width: 69%;
    align-self: center;
  }

  &__right-field
  {
    width: 29%;
  }
}